<!-- <ion-header> -->
  <!-- <ion-toolbar>
    <ion-title>
      Meal Connect
    </ion-title>
  </ion-toolbar> -->
<!-- </ion-header> -->

<ion-content class="ion-padding">

  <ion-card mode="ios">
    <ion-row *ngFor="let d of dates;">
      <ion-col size="5">
        <ion-item>
          <ion-input placeholder="Date" [(ngModel)]="d.date"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="7">
        <ion-item>
          <ion-input placeholder="Poundage" [(ngModel)]="p[d.date]"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-toolbar mode="ios" color="none">
    <ion-button slot="end" color="light">
      Add
    </ion-button>
    <ion-button slot="end" class="ion-margin-horizontal" (click)="show()">
      Submit
    </ion-button>
  </ion-toolbar>

</ion-content>
